@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/* ----- basic style--*/
body {
   line-height: 1.8;
   color: #898fa1;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
}

h1,
h2,
{
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
color: #11245A;
}

.title-sm {
   font-size: 16px;
   letter-spacing: 1px;
}

a {
   font-weight: 700;
   transition: all 0.4s ease;
   text-decoration: none;
}

img {
   width: 100%;
}

section {
   padding-top: 100px;
   padding-bottom: 100px;
}

/* -----navbar style---- */
.navbar {
   border-bottom: 1px solid rgba(5, 5, 5, 0.1);
}

.logo-text {
   font-size: 22px;
   text-transform: uppercase;
   color: #14285f !important;
}

.navbar .nav-link {
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link.active {
   color: #d3477f;
}

/* -------carousel style----- */
.carousel-item {
   height: 100vh;
   min-height: 300px;
}

.carousel-caption {
   bottom: 220px;
   z-index: 2;
}

.carousel-caption h5 {
   font-size: 45px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 25px;
}

.carousel-caption p {
   width: 60%;
   margin: auto;
   font-size: 18px;
   line-height: 1.9;
}

.carousel-inner:before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(8, 8, 8, 0.7);
   z-index: 1;
}

.btn {
   font-weight: 700;
   font-size: 12px;
   text-transform: uppercase;
   padding: 12px 28px;
   border-radius: 0;
}

.btn-brand {
   background-color: #c85a86;
   color: #fff;
}

.btn-brand:hover {
   background-color: #cd3572;
   color: #fff;
}

.section-intro {
   text-align: center;
   margin-bottom: 60px;
}

.section-intro .hline {
   width: 120px;
   height: 2px;
   background-color: rgba(0, 0, 0, 0.1);
   margin: 16px auto 0 auto;
}

/* feature css */

.feature .icon-box {
   width: 34px;
   height: 34px;
   border-radius: 100px;
   font-size: 24px;
}

/* ready to go css */
.modal-header {
   background: #f19422;
   color: #fff;
}

.required:after {
   content: "*";
   color: red;
}

/* feedback css */

#testimonials img {
   width: 65px;
   height: 65px;
   border-radius: 100px;
   transition: all 0.4s ease;
}

#testimonials .nav-pills .nav-link.active img {
   transform: scale(1.3);
}

/*-------company css---*/
#clients img {
   height: 35px;
}

#cta {
   background-color: #e13b80;
}

/* footer css */
.footer-bottom {
   padding-top: 30px;
   padding-bottom: 30px;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .social-icons a {
   font-size: 24px;
}